[submodule "TaskManagementSystem.GrpcLib"]
	path = TaskManagementSystem.GrpcLib
	url = git@github.com:Fakhriddin3040/task-management-system-grpclib.git
[submodule "TaskManagementSystem.SharedLib"]
	path = TaskManagementSystem.SharedLib
	url = git@github.com:Fakhriddin3040/task-management-system-sharedlib.git
